<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
</head>

<body style="background-color:rgba(1, 0, 21, 0.595);">
    <nav class="w3-bar w3-black">
        <ul>
            <li><a href="/" class="w3-button w3-bar-item">Home</a></li>
            <li><a href="/research" class="w3-button w3-bar-item">Research</a></li>
            <li><a href="/subnpub" class="w3-button w3-bar-item">Submissions and Publications</a></li>
            <li><a href="/contact" class="w3-button w3-bar-item">Contact</a></li>
        </ul>
    </nav>
    <div class="container">
        {{ content }}
    </div><!-- /.container -->
</body>

</html>